*{
  box-sizing: border-box;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;

}
body{
  font-family:Arial;
  background:#222222;
  height:auto;
  margin: auto;
  width:500px;
}
#check{
  height:28px;
  background-color:white;
  border:none;
  border-radius:5px;
  
}
#check:hover{
  background-color:#00BFFF;
  color:white;
  border:none;
}
#user{
  height:24px;
  background-color:white;
  border-radius:5px;
  border:1px solid #DDDDDD;
}
#group a{
  text-decoration:none;
  color:black;
  position: relative;
  left: 140px;
  top: 12px;
}
#group a:hover{
  color:black;
}
#group{
  height:42px;
  background:#ddd;
  width:470px;
  position: relative;
  top: 10px;
  left: 22px;
}


#all{
  text-align:center; 
}
#ctn{
  
  left: 150px;
  top: 80px;
}
#update{
  text-align: center;
  top: 5px;
  color:#00BFFF;
  opacity: 0.6;
}
#load{
  position: relative;
  left: 5px;
  top: 4px;
}
#content{
  text-align: center;
}
#content:hover{
 opacity: 1;
}
#music{
  text-align: center;
  position: relative;
  top: 5px;
}
@media(min-width:992px) {
            body {
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media (min-width: @screen-sm-min) {
            .content {
                max-width: 100%;
                padding: 20px;
            }
            .banner-cover {
                max-width: 100%;
            }
        }

        @media (min-width: @screen-md-min) {
            .content {
                max-width: 100%;
                padding: 20px;
            }
            .banner-cover {
                max-width: 100%;
            }
        }

        @media (min-width: @screen-lg-min) {
            .content {
                max-width: 100%;
                padding: 50px;
            }
            .banner-cover {
                max-width: 100%;
            }
        }
a{
  color: #00B2EE;
  text-decoration: none;
}
#over{
  background: black;
}
#text{
  position: relative;
  bottom:5px;
}
