
body{
  font-family:Arial;
  background:#EEEEEE;
  width:500px;
  height:auto;
}
#check{
  height:28px;
  background-color:white;
  border:1px solid #DDDDDD;
  border-radius:5px;
  
}
#check:hover{
  background-color:black;
  color:white;
  border:1px solid black;
}
#user{
  height:24px;
  background-color:white;
  border-radius:5px;
  border:1px solid #DDDDDD;
}
#group a{
  text-decoration:none;
  color:black;
  position:relative;
  top:12px;
  left:125px;
}
#group{
  position:relative;
  top:10px;
  left:20px;
  
}
#group a:hover{
  color:black;
}
#group{
  height:42px;
  background:#ddd;
  width:470px;
}


#all{
  text-align:center; 
}
#content{
  text-align:center;
}
#ctn{
  position: relative;
  left: 150px;
  top: 80px;
}
#update{
  text-align: center;
  position: relative;
  top: 5px;
  color: gray;
}
#load{
  position: relative;
  left: 5px;
  top: 4px;
}